@import 'tailwindcss';

@theme {
  --font-primary: 'Poppins', sans-serif;
  --color-blue-primary: #4f46e5;
  --color-green-primary: #10b981;
  --color-gray: #1f2937;
  --list-hash: '#';
}

html {
  font-family: var(--font-primary);
  color: var(--color-gray);
}

::selection {
  background-color: var(--color-gray);
  color: white;
}
